---
import SEO from "@/components/shared/SEO.astro"
import { ViewTransitions } from "astro:transitions"
import type { Preload } from "@/interfaces/preload"
import Topmenu from "@/components/shared/Topmenu.astro"

interface Props {
  title: string
  description: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      preload={preload}
      canonical={canonical}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body>
    <Topmenu />

    <main>
      <slot />
    </main>
  </body>
</html>
